:root {
  --accent-cl: #ff6c00;
  --text-cl: #555555;
  --grey: #9da4bd;
  --black: #303030;
  --white: #ffffff;
  --grey-bg: #f7f7f7;
  --dark-bg: #191c26;
  --hero-bg: rgba(25, 28, 38, 0, 2);
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

body {
  font-family: 'Open sans', sans-serif;
  color: var(--text-cl);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.list,
.title,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title,
p {
  margin-bottom: 20px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.section-title {
  font-size: 42px;
  line-height: 1.167;
  color: var(--black);
}

.section-title.contact {
  margin-bottom: 40px;
}
.title-margin {
  margin-bottom: 44px;
}
.flex-menu {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--dark-bg);
}

.navigation .logo {
  height: 56px;
  margin-top: 32px;
  margin-right: 71px;
  margin-bottom: 32px;
}

.flex-menu .item:not(:last-child) {
  margin-right: 40px;
}

.list-contact {
  margin-right: 0;
  margin-left: auto;
}

.hero-title {
  font-size: 72px;
  line-height: 1.181;
  color: #ffffff;
}

.hero-content {
  max-width: 500px;
}

.link {
  text-decoration: none;
}

.link:hover,
.link-btn.black:hover,
.link:focus,
.link-btn.black:focus {
  color: var(--accent-cl);
}

.link-menu {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--white);
}

.social-link,
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;

  color: var(--black);
}

.copy {
  color: var(--grey);
  margin-top: 56px;
  margin-bottom: 56px;
}

.link-btn {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--white);
}

.link-btn:hover,
.link-btn:focus {
  border: 1px solid var(--black);
}

.link-btn.black {
  color: var(--black);
}

.section-label,
.btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;

  letter-spacing: 0.1em;
}

.section-label {
  text-transform: uppercase;
  color: var(--black);
}

.btn {
  color: rgba(157, 164, 189, 0.6);
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--white);
}

.dark-section {
  background-color: var(--dark-bg);
  color: var(--grey);
}

.dark-section .section-label {
  color: rgba(157, 164, 189, 0.6);
}

.dark-section .title {
  color: var(--white);
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: calc((100%-30px) / 2);
}

.flex-container {
  display: flex;
}

.list-price {
  width: 50%;
  padding: 30px 40px;
}

.list-price .item {
  display: flex;
}

.line {
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.price-link {
  display: inline-block;
}

.text-about-us {
  font-size: 14px;
  line-height: 1.86;
}

.advantages {
  color: var(--black);
}

.bold {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
}

.advantages-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
}

.accent {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-cl);
}

.grey-bg {
  background-color: var(--grey-bg);
}

.grid {
  margin-top: -30px;
  margin-left: -30px;
}

.card-flex {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.team-piacture {
  margin-bottom: 30px;
}

.item-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  color: var(--black);
}

.team-position {
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  color: var(--accent-cl);
  margin-bottom: 30px;
}

.portfolio-picture {
  width: calc(100% / 4 -30px);
  margin-top: 30px;
  margin-left: 30px;
}

.section-contact {
  font-size: 18px;
  line-height: 1.67;
}

.section-contact .section-label {
  color: var(--white);
}

.social-footer {
  margin-right: 0;
  margin-left: auto;
}

.flex-menu .item:not(:last-child) {
  margin-right: 40px;
}
